$grey: #484848;
$very-light-grey: #f8f9fa;
$red: #e53935;
$bg-color: #f8f9fa;
body {
  background-color: $very-light-grey;
}

a {
  color: $grey;
}

a:hover {
  color: $red;
}
.router-link-exact-active {
  color: $red;
}
